.nav_link {
  position: relative;
  padding-block: 0.5rem;
}

.nav_link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--color-textcolor);
  transition: width 0.3s;
}

.nav_link:hover::after {
  width: 100%;
}