@import "tailwindcss";

:root {
  --color-primary: #F2E3B3;
  --color-primary-dark: #DED2A9;
  --color-primary-saturated: #e8d38d;
  --color-textcolor: #34342F;
  --color-background: #F5F5F5;
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-primary-saturated: var(--color-primary-saturated);
  --color-textcolor: var(--color-textcolor);
  --color-background: var(--color-background);
}

@layer base {
  html, body {
    @apply h-full m-0 p-0;
  }

  body {
    @apply text-textcolor bg-background;
    font-family: 'M PLUS Rounded 1c', 'Noto Sans JP', sans-serif;
  }

  h1, h2, h3, h4, h5, h6, p, a {
    @apply text-textcolor;
  }
}

@layer components {
  .clickable-card {
    @apply shadow-sm transition-all duration-200 hover:-translate-y-[1px] hover:shadow-md;
  }

  .clickable-card-lg {
    @apply shadow transition-all duration-200 hover:-translate-y-[2px] hover:shadow-lg;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}