@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-primary: #F2E3B3;
  --color-primary-dark: #DED2A9;
  --color-primary-saturated: #e8d38d;
  --color-textcolor: #34342F;
  --color-background: #F5F5F5;
  --color-custom-white: #FFFFFD;
  --color-selection-background: #f6eed2;
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-primary-saturated: var(--color-primary-saturated);
  --color-textcolor: var(--color-textcolor);
  --color-background: var(--color-background);
  --color-custom-white: var(--color-custom-white);
}

@layer base {
  html, body {
    @apply h-full m-0 p-0;
  }

  body {
    @apply text-textcolor bg-background;
    /*
    Good Fonts:
    - Noto Sans JP
    - Yomogi
    - Sawarabi Gothic
    - M PLUS Rounded 1c
    */
    font-family: 'Sawarabi Gothic', 'Noto Sans JP', sans-serif;
  }

  h1, h2, h3, h4, h5, h6, p, a {
    @apply text-textcolor;
  }

  button:not([disabled]):not(.disabled) {
    @apply cursor-pointer;
  }

  a, select, input[type="checkbox"], input[type="radio"] {
    @apply cursor-pointer;
  }

  ::selection {
    background-color: var(--color-selection-background);
    color: var(--color-textcolor);
  }
  
  ::-webkit-selection {
    background-color: var(--color-selection-background);
    color: var(--color-textcolor);
  }
}

@layer components {
  .clickable-card {
    @apply shadow-sm transition-all duration-200 hover:-translate-y-[1px] hover:shadow-md;
  }

  .clickable-card-lg {
    @apply shadow transition-all duration-200 hover:-translate-y-[2px] hover:shadow-lg;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .underline-link {
    @apply text-amber-600 underline cursor-pointer;
  }
}

@layer utilities {
  .small-text {
    @apply text-xs sm:text-sm
  }

  .popup-element {
    @apply hover:scale-110 transition-all duration-200;
  }

  .popup-element-small {
    @apply hover:scale-105 transition-all duration-200;
  }
}